.horizontal-hr {
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
    margin-top: 0;
    margin-bottom: 1rem;
}
.head {
    border-bottom: 1px solid rgb(193, 189, 189);
}
.head-button-wrapper {
    color: black;
    border-radius: 10px;
    border: 1px solid green;
}
.head-button-wrapper:hover {
    background-color: rgb(174, 196, 174);
}
.logo:hover {
    width: 30px;
    height: 30px;
}
.logo-wrapper {
    width: 30px;
    height: 30px;
}