.horizontal-hr {
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
    margin-top: 0;
    margin-bottom: 1rem;
}
.head {
    border-bottom: 1px solid rgb(193, 189, 189);
}
.head-button-wrapper {
    color: black;
    border-radius: 10px;
    border: 1px solid green;
}
.head-button-wrapper:hover {
    background-color: rgb(174, 196, 174);
}
.logo:hover {
    width: 30px;
    height: 30px;
}
.logo-wrapper {
    width: 30px;
    height: 30px;
}
.reg-back {
        min-height: 1000px;
        align-content: center; 
        font-family: 'OpenSans, OpenSans-Regular';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.forms {
    margin-right: 20%;
    position: absolute;
    width: 50%;
    border: 2px solid rgb(255, 194, 88);
    padding: 26px;
    background-color: white;
    top: 18%;
    transform: translateX(50%);
    border-radius: 16px;
}
@media only screen and (max-width: 600px) {
    .forms {
        margin-right: 20%;
        position: absolute;
        width: 70%;
        border: 2px solid rgb(255, 194, 88);
        padding: 26px;
        background-color: white;
        top: 18%;
        transform: translateX(23%);
        border-radius: 16px;
    }
}
.btn-log {
    background-color: #FFE5B4;
    border: 1px solid rgb(255, 194, 88);
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;
}
.btn-log:hover {
    background-color: #f5e6cb;
}
.form-field-wrapper>input {
    display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}