<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/ink-free" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="unique.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="#">
    <script src="scripts.js"></script>
    <script src="#"></script>
    <title>Title</title>
</head>

<body style="background-color:#f2f2f0;">
<div class="container-fluid" style="border-radius: 0.275rem; background-color: white; min-height: 90px;">
        <header class="d-flex flex-wrap justify-content-center py-3 head">
          <p class="d-flex align-items-center mb-3 ms-4 me-4 mt-1 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" width="40" height="32" src="project-logo.png">
            <span class="fs-4 me-3">Simple header</span>
          </p>
    
          <ul class="nav nav-pills me-4 mt-1 ms-4">
            <li class="nav-item head-button-wrapper me-1"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item head-button-wrapper me-1 ms-2"><a href="#" class="nav-link">Projects</a></li>
            <li class="nav-item ms-2"><a href="#" class="nav-link img-profile">
            <img src="profile.png" class="profile-icon"></a></li>
          </ul>
        </header>
</div>

<div id="content" class="container px-lg-5 justify-content-center" style="min-height: 800px">
<br>
<div class="container">
<a href="#" class="profile-link" style="font-size: 14px;" onclick="menuDropDown()">Skills' list</a><br><br>
</div>

    <nav class="navigation-menu" id="nav-menu">
        <div class="container mt-2 ms-2" style="margin: auto;">
         <a href="#" class="close-nav" onclick="menuDropDown()">Hide</a><br><br>
        </div>

    <p class="mainPage-link">Skills</a>
    <hr class="main-page-underline">


    <div class="container mt-4 justify-content-center">
        <div class="round">
          <input type="checkbox" checked id="checkbox" />
          <label for="checkbox" class="chechbox-label">Skill1</label><br>
          <input type="checkbox" checked id="checkbox" />
          <label for="checkbox" class="chechbox-label">Skill2</label>
        </div>
    </div>



    </nav>



           <div class="row container mt-4 project-frame m-auto" style="align-items: center; height: 120px;">
                <div class="col">
                    <p class="text-sm-start ms-4 me-4 fs-4 mt-2 prof-title">TITLE Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                    <p class="text-sm-start ms-4 me-4 prof-descrip">DESCRIPTION Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                    <p class="text-sm-start ms-4 me-4 prof-roles">ROLES Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>

                </div>
                <div class="col align-content-center" style="width: 40px; max-width: 40px; padding-left: 0;">
                    <button type="button" class="button-cancel">
                        <img src="images/cross.png" class="rounded mx-auto d-block" width="18px" height="18px">
                    </button>
                 </div>
    </div>
</div>

<div class="container-fluid mt-2" style="background-color: white; height: 90px">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center ms-3 mt-3">
        <p href="/" class="mb-3 me-2 text-muted text-decoration-none lh-1">
          <img src="project-logo.png" class="bi" width="30" height="24">
        </p>
        <p class="text-muted">©2023 Company, Inc</p>
       </div>
      
       <div class="nav col-md-4 justify-content-end list-unstyled d-flex me-3 mt-3 mb-3">
        <a class="logo-wrapper ms-2 me-2" href="#"><img src="insta-logo.png" class="bi logo" width="26" height="26"></a>
        <a class="logo-wrapper ms-2 me-2" href="#"><img src="fb-logo.png" class="bi logo" width="26" height="26"></a>
        <a class="logo-wrapper ms-2 me-2" href="#"><img src="tw-logo.png" class="bi logo" width="26" height="26"></a>
       </div>
    </footer>
</div>


<script src="bootstrap.bundle.min.js"></script>
</body>
</html>