{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="projTitle">{{ project.name }}
            {% if project.creator.profile.is_mentor %}
                <img class="mentor-verify" src="{% static 'images/verify.png' %}">
            {% endif %} </h1>
    </div>
    <div class="container mt-5">
        <p class="projDescr">{{ project.description }}</p>
    </div>

    <div class="container mt-5 ms-5">
        <p style="font-size: 18px;">Creator: <a href="{% url 'website:profile' project.creator.id %}"
                                                style="color: rgb(88, 37, 0); text-decoration: none;">{{ project.creator.get_full_name }}</a>
        </p>
    </div>

    <div class="container mt-5 ms-5">
        <h1 class="category-project free-roles">Available roles:</h1>
        {% for role in project.role_set.all %}
            {% if role.is_vacant %}
                <a class="row container mt-4 project-frame m-auto"
                   style="align-items: center; height: 120px;text-decoration: none; color: #333333"
                   href="{% url 'website:join_request' role.id%}">
                    <div class="col">
                        <p class="text-sm-start ms-4 me-4 fs-4 mt-2 prof-title">{{ role.name }}</p>
                        <p class="text-sm-start ms-4 me-4 prof-descrip">{{ role.description }}</p>
                        <p class="text-sm-start ms-4 me-4 prof-roles">{{ role.skills_string }}</p>
                    </div>
                    <div class="col align-content-center" style="width: 40px; max-width: 40px; padding-left: 0;">
                        <button type="button" class="button-cancel">
                            <img src="{% static 'images/arrow.png' %}" class="rounded mx-auto d-block"
                                 width="18px"
                                 height="18px">
                        </button>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container mt-4 ms-5">
        <h1 class="category-project-roles">Occupied roles:</h1>
        {% for role in project.role_set.all %}
            {% if not role.is_vacant %}
                <div class="row container mt-4 project-frame m-auto"
                     style="align-items: center; height: 120px;text-decoration: none; color: #333333"">
                <div class="col">
                    <p class="text-sm-start ms-4 me-4 fs-4 mt-2 prof-title">{{ role.name }}</p>
                    <p class="text-sm-start ms-4 me-4 prof-descrip">{{ role.description }}</p>
                    <p class="text-sm-start ms-4 me-4 prof-roles">{{ role.skills_string }}</p>
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
